<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.ming13.oktwitter"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:name=".OkTwitterApplication"
        android:label="@string/application_name"
        android:theme="@style/Theme.OkTwitter">

        <activity
            android:name=".activity.TweetsActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>